<h1>Inicia Sesión</h1>

<form action="/login" method="POST">
  <p>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" placeholder="Juan@mail.com">
  </p>

  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
  </p>
  <input type="submit" value="Iniciar sesión">
</form>

