<ul class="navbar navbar-dark justify-content-end ">
  <li class="nav-link active"><a href="/users/{{user_id}}">Mi dashboard {{user}}</a></li>
  <li>
    <a class="nav-link active" href="/logout">Cerrar Sesión</a>
  </li>
</ul>

