<div class="sidenav">
  <div>
    <a href="/users/{{user_id}}">
      <img class="logo-nav" src="https://res.cloudinary.com/mishulicious/image/upload/v1537910791/myPocket/logo-mypocket-02.png" alt="myPocket">
    </a>
    
  </div>
  <a href="/ahorros/list">Mis Ahorros</a>
  <a href="/gastos/list">Mis Gastos</a>
  <a href="/ingresos/list">Mis Ingresos</a>
  <div class="tipo-de-cambio">
    <a id="dolar"></a>
  </div>
  <p id="frase"></p>

</div>