<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
{{> nav}}
{{> sidenav}}
<div class="row center-xs">
  <div class="col-md-10 offset-2">
    <div class="box">
      <h1>Detalle de gasto</h1>
      <section>
        <table class="table table-hover tabla-gastos">
          <thead> 
          </thead> 
          <tbody> 
              <tr> 
                <td>Tipo:</td> 
                <td>{{tipo}}</td> 
              </tr>
              <tr> 
                <td>Cantidad:</td> 
                <td>{{cantidad}}</td> 
              </tr>
              <tr> 
                <td>Periodicidad:</td> 
                <td>{{periodicidad}}</td> 
              </tr>
              <tr>
                <td></td>
                <td></td>
              </tr>
          </tbody> 
        </table>
    </section>
  <button class="btn btn-primary"><a href="/gastos/edit/{{this.id}}">Editar</a></button>
  <button class="btn btn-primary"><a href="/gastos/list">Atrás</a></button>
    </div>
  </div>
</div>

    
