<body>
  <div>
    <section>
      <a href="/gastos/list">Go back</a> <br>
      <h3>{{tipo}}</h3>
      <p><b>Cantidad </b>{{cantidad}}</p>
      <p><b>Periodicidad:</b>{{periodicidad}}</p>
    </section>
  </div>
  
</body>