<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>myPocket</title>
</head>
<body>
  <div>
    <img src="https://res.cloudinary.com/mishulicious/image/upload/v1537907944/myPocket/logo-mypocket-02.png" width="30%"alt="Logotipo-myPocket">
  </div>

  <div>
    <div>
      <img src="https://res.cloudinary.com/mishulicious/image/upload/v1537907944/myPocket/logo-mypocket-03.png" width="30%" alt="myPocket">
    </div>
    <div>
      <a href="/signup"><button>Regístrate</button></a>
    </div>
    <div>
      <p>¿Tienes una cuenta?</p>
      <a href="/login"><button>Inicia sesión</button></a>
    </div>

  </div>


  
</body>
</html>

