<iframe autoplay="autoplay" src="../public/video/Head-or-Tails.mp4" frameborder="0">

</iframe>

  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xs-12 rightindex">
        <div class="logotipo">
          <img class="img-logotipo" src="https://res.cloudinary.com/mishulicious/image/upload/v1537910791/myPocket/logo-mypocket-01.png" alt="myPocket">
        </div>
        <div class="signup">
          <a href="/signup"><button type="button" class="btn btn-primary signlog">Regístrate</button></a>
        </div>
        <div class="login">
          <p>¿Tienes una cuenta?</p>
          <a href="/login"><button type="button" class="btn btn-primary signlog">Inicia sesión</button></a>
        </div>
      </div>
    </div>
  </div>

