 <div class="video-container">
  <video autoplay loop>
    <source src="/video/Head-or-Tails.mp4" type="video/mp4">
    <source src="/video/Head-or-Tails.ogv" type="video/ogv">
    <source src="/video/Head-or-Tails.webm" type="video/webm">
  </video>
</div>

<div class="row full-height middle-xs center-xs inicial">
  <div class="col-md-12 col-xs-12">
    <div class="box">
      <div class="logotipo">
      <img class="img-logotipo" src="https://res.cloudinary.com/mishulicious/image/upload/v1537910791/myPocket/logo-mypocket-01.png" alt="myPocket">
    </div>
    <div class="signup">
      <a href="/signup"><button type="button" class="btn btn-primary signlog">Regístrate</button></a>
    </div>
    <div class="login">
      <p>¿Tienes una cuenta?</p>
      <a href="/login"><button type="button" class="btn btn-primary signlog">Inicia sesión</button></a>
    </div>
    </div>
  </div>
</div>


