
{{> nav}}
{{> sidenav}}


<div class="row center-xs">
  <div class="col-md-10 offset-2">
    <div class="box">
      <h2 class="nothing">Nada por aquí</h2>
      <img src="/images/logo-mypocket-01.png" alt="logo" height="500px">
      <br><br><br>
      <a href="/ahorros/list">Regresar</a>
    </div>
  </div>
</div>




