<h1>Hola {{nombre}},</h1>

<p>Te damos la bienvenida a myPocket</p> 

<p>Es hora de tomar las riendas de tus finanzas. <br> 
Con myPocket tendrás la posibilidad de manejarlas inteligentemente,<br>
no más escusas. ¡Entra ahora mismo! </p>
<p>
  Tu usuario es: {{usuario}}
</p>
<p>
  Contacto: <a href="#">mypocketcorporation@gmail.com</a>
</p>
<p>Saludos,</p>

<p>Equipo myPocket</p>




