*{
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
  color: #00B7FF;
  text-decoration: none;
}

//index.hbs

li{
  font-size: 1.5em;
}
li>a{
  padding: 10px;
}
.video-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

//******login y signup*****
.form-control {
  width: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}
.login-btns{
  margin-top: 3%;
}

.img-logotipo {
  width: 10rem;
}
.img-ltipo{
  width: 16rem;
  margin-bottom: 2%;
}

.signlog{
  height: 50px;
  width: 180px;
  font-size: 1.5em;
}
.inicial{
  padding-top: 5rem;
}
.login , .signup{
  padding-top: 2rem;
}
//*************************


.tabla-ahorros{
  font-size: 12px;
  width:40%;
}

.row{
  margin: 0 !important;
}
.fa-trash-alt{
  color: red;
  font-size: 1em;
}
.fa-plus-circle{
  margin: 5px;
  color: #00B7FF;
  font-size: 2.5em;
}
li{
  list-style: none;
}
// Cards layouts
.card{
  margin: 50px !important;
}
// side nav
.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav a:nth-child(4){
  color: white;
}
.sidenav a:hover {
  color: #f1f1f1;
}
