{{!-- <h1>Agregar ahorro</h1>
<form action="/ahorros/new" method="POST">
<p>
  <label for="nombre">Nombre:</label>
  <input type="text" name="nombre" id="nombre" placeholder="Nombre de tu ahorro">
  <br>
</p>
<p>
  <label for="cantidad" id="cantidad">Cantidad Inicial:</label>
  <input type="number" name="cantidad" id="cantidad">
</p>
<input type="submit" value="Agregar">
</form>
<a href="/ahorros/list">Atrás</a> --}}