
  <ul class="navbar navbar-dark justify-content-end ">
    <li class="nav-link active"><a href="#">{{usuario}}</a></li>
    <li>
      <a class="nav-link active" href="/logout">Cerrar Sesión</a>
    </li>
  </ul>

<div class="sidenav">
  <div class="profile">
    <img class="fotoperfil" src="{{photoURL}}" alt="Foto_de_perfil">
  </div>
  <a href="/ahorros/list">Mis Ahorros</a>
  <a href="/gastos/list">Mis Gastos</a>
  <a href="/ingresos/list">Mis Ingresos</a>
  <a id="dolar"></a>
  <p id="frase"></p>
</div>

<div class="row center-xs">
  <div class="col-md-8">
    <div class="box">
      <h1>Bienvenido</h1>
      <h3>¿Cuánto has gastado?
        <br> y ¿Cuál es tu objetivo para hoy?</h3>      
    </div>
  </div>
</div>

<div class="row center-xs">
  <div class="col-md-4">
    <div class="box">

      <div class="card">
        <div class="card-header">
          <h5>Mis Ahorros</h5>
        </div>
        <div class="card-body">
          {{!-- <p><a href="/ahorros/list">Lista de ahorros</a></p> --}}
          <canvas width="200" height="200" id="canvas1"></canvas>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box">
      <div class="card">
        <div class="card-header">
          Card Two
        </div>
        <div class="card-body">
          <canvas width="200" height="200" id="canvas2"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row center-xs">
  <div class="col-md-4">
    <div class="box">
      <div class="card">
        <div class="card-header">
          Card Two
        </div>
        <div class="card-body">
          <canvas width="200" height="200" id="canvas3"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="box">
      <div class="card">
        <div class="card-header">
          Card Two
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda error placeat labore impedit quibusdam dolor nostrum porro doloribus voluptatem dolores. 
          Reprehenderit voluptates blanditiis earum architecto, culpa ad sed. Sunt, rem.
        </div>
      </div>
    </div>
  </div>


</div>



<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="/javascripts/chart1.js"></script>
<script>
  const frases =
  ['La pasión construye negocios, el miedo no.',
          'Recuerda que tú puedes ser lo que deseas ser en cualquier cuadrante, incluso un maestro.',
          'Toma tu pasión y haz que suceda',
          'El mundo del dinero es sólo un sistema: Un "E" trabaja para el sistema. Un "A" es el sistema. Un "D" crea, posee y controla el sistema. Un "I" invierte en el sistema.',
          'Si quieres estar en el lado derecho del Cuadrante, debes conocer la diferencia entre los hechos y las opiniones.',
          'En la medida que más gente te deba, más rico serás, en la medida en que le debas a más personas, más pobre serás.',
          'Definición de Riqueza: Número de días que puedes sobrevivir sin trabajar físicamente mientras mantienes su estándar de vida.',
          'La mayor parte de la gente piensa, pero nunca hace.',
          'La razón por la cual la mayoría de la gente tiene problemas financieros es porque aceptan el consejo de personas que también están ciegas mentalmente con respecto del dinero.',
          'La mayoría de la gente invierte el 95% con los ojos y sólo el 5% con la mente. A menudo compran de manera emocional, en vez de hacerlo racionalmente.',
          'Un activo coloca dinero en tu bolsillo. Un pasivo saca dinero de tu bolsillo.',
          'No es cuánto dinero ganes, sino cuánto dinero conservas, qué tan duro trabaja para ti y para cuántas generaciones lo conserva.',
          'Cómo predecir tu libertad financiera: ¿Cuánto dinero gastas? ¿Cuánto dinero ahorras? ¿Cuánto dinero inviertes?',
          'Si haces algo, cometes errores y es de los errores de lo que aprendemos más',
          'Construir riqueza es una maratón, no una carrera.',
          'Los Bancos no tratan de ayudarte cuando te ofrecen Crédito.',
          'Si no transformas tu sueño en un plan, este no durará mucho.',
          'Tu Calificación de Crédito no es una representación de Dinero. Es una representación de Deuda.',
          'El Dinero no toma las decisiones, tú lo haces.',
          'Todos tus sueños pueden hacerse realidad si tienes el coraje de perseguirlos. –Walt Disney',
          'No es lo que tu tienes, sino como usas lo que tienes lo que marca la diferencia. –Zig Ziglar',
          'El mejor modo de predecir el futuro es inventándolo. –Alan Key',
          'Recuerda, hoy es el mañana acerca del cual te preocupabas ayer. -Dale Carnegie',
          'El dinero ahorrado es un fiel amigo en la adversidad y un positivo colaborador en el aprovechamiento de las oportunidades. -O. S. Marden',
          'Un viaje de mil millas comienza con el primer paso. -Lao Tse',
          'El secreto del éxito está en prepararse para aprovechar las oportunidades en cuanto se presenten. -Disraeli'] 
let random= Math.floor(Math.random() * 26);
let frase = frases[random];

document.getElementById('frase').innerHTML = '"'+frase+'"'

axios.get('https://api.exchangeratesapi.io/latest?base=USD')
      .then(res => {
        let dolar = Math.floor(res.data.rates.MXN)
        let template = `
        <span> <i class="fas fa-dollar-sign"></i> Tipo de cambio</span>
        USD/MXN: ${dolar}
        `;
        document.getElementById('dolar').innerHTML = template
        console.log(res.data.rates.MXN)
      })
      .catch(err=>{
        console.log(err)
      })



</script>

