
{{> nav}}
{{> sidenav}}

<div class="container">

<div class="row center-xs">
  <div class="col-md-8 offset-2">
    <div class="box">
      <div>
        <img class="logo-perfil" src="https://res.cloudinary.com/mishulicious/image/upload/v1537910791/myPocket/logo-mypocket-03.png" alt="myPocket">
      </div>
      <br>
      <h4>¿Cuánto has gastado? y ¿Cuál es tu objetivo para hoy?</h5>      
    </div>
  </div>
</div>

<div class="row center-xs">
  <div class="col-md-5 offset-2">
    <div class="box">

      <div class="card">
        <div class="card-header">
          <h5>Mis Ahorros</h5>
        </div>
        <div class="card-body">
          {{!-- <p><a href="/ahorros/list">Lista de ahorros</a></p> --}}
          <canvas width="200" height="200" id="canvas1"></canvas>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="box">
      <div class="card">
        <div class="card-header">
          <h5>Mis Ingresos</h5>
        </div>
        <div class="card-body">
          <canvas width="200" height="200" id="canvas2"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row center-xs">
  <div class="col-md-5 offset-2">
    <div class="box">
      <div class="card">
        <div class="card-header">
          <h5>Mis Gastos</h5>
        </div>
        <div class="card-body">
          <canvas width="200" height="200" id="canvas3"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="box">
      <div class="card">
        <div class="card-header">
          <h5>Gastos Extras</h5>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda error placeat labore impedit quibusdam dolor nostrum porro doloribus voluptatem dolores. 
          Reprehenderit voluptates blanditiis earum architecto, culpa ad sed. Sunt, rem.
        </div>
      </div>
    </div>
  </div>


</div>


</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="/javascripts/chart1.js"></script>
<script src="/javascripts/chart2.js"></script>
<script src="/javascripts/chart3.js"></script>
