
  <ul class="navbar navbar-dark justify-content-end ">
    <li class="nav-link active"><a href="#">{{usuario}}</a> </li>
    <li>
      <a class="nav-link active" href="/logout">Cerrar Sesión</a>
    </li>
  </ul>

<div class="sidenav">
  <a href="/ahorros/list">Mis Ahorros</a>
  <a href="#">Mis gastos</a>
  <a href="#">Mis ingresos</a>
</div>

<div class="row center-xs">
  <div class="col-md-8">
    <div class="box">
      <h1>Bienvenido</h1>
      <h3>¿Cuanto haz gastado hoy? y ¿cual es tu objetivo de hoy?</h3>      
    </div>
  </div>
</div>

<div class="row center-xs">
  <div class="col-md-4">
    <div class="box">

      <div class="card">
        <div class="card-header">
          <h5>Mis Ahorros</h5>
        </div>
        <div class="card-body">
          <p><a href="/ahorros/list">Lista de ahorros</a></p>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box">
      <div class="card">
        <div class="card-header">
          Card Two
        </div>
        <div class="card-body">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem aliquam voluptatibus eius ab ex facilis natus? Ducimus, commodi iure corporis eius mollitia 
          dignissimos sed beatae quos doloribus, nobis culpa distinctio.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row center-xs">
  <div class="col-md-4">
    <div class="box">
      <div class="card">
        <div class="card-header">
          Card Two
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci iusto minus, cumque corrupti dignissimos doloribus asperiores quos temporibus repellat quia? 
          Delectus perspiciatis doloribus quod quo officiis consequuntur voluptatibus itaque eveniet!
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="box">
      <div class="card">
        <div class="card-header">
          Card Two
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda error placeat labore impedit quibusdam dolor nostrum porro doloribus voluptatem dolores. 
          Reprehenderit voluptates blanditiis earum architecto, culpa ad sed. Sunt, rem.
        </div>
      </div>
    </div>
  </div>


</div>





