
  <ul class="nav justify-content-end">
    <li class="nav-link active"><a href="#">{{usuario}}</a> </li>
    <li>
      <a class="nav-link active" href="/logout">Cerrar Sesión</a>
    </li>
  </ul>

<div class="row center-xs">
  <div class="col-md-8">
    <div class="box">
      <h1>Bienvenido</h1>
      <h3>¿Cuanto haz gastado hoy? y ¿cual es tu objetivo de hoy?</h3>      
    </div>
  </div>
</div>

<a href="/ahorros/list">Lista de ahorros</a>



