<h2>Concepto: {{concepto}}</h2>
<h3>Cantidad:{{cantidad}}</h3>
<h4>Periodicidad: {{periodicidad}}</h4>

<a href="/ingresos/edit/{{_id}}"><button>Editar</button></a>

<a href="/ingresos/list"><button>Atrás</button></a>
 