<h1>Lista de Ingresos</h1>

<div>
  {{#each ingresos}}
  <p>
    <a href="/ingresos/detalle/{{this._id}}">{{this.concepto}} ${{this.cantidad}}</a>
  </p>
  
  {{/each}}
</div>

<a href="/ingresos/new"><button>Agregar Ingreso</button></a>