<h1>Nuevo Ingreso</h1>

<form action="/nuevo_ingreso" class="form-inline" method="POST">
  <div class="form-group">
    <label for="exampleInputName2">Concepto</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Transporte">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Cantidad</label>
    <input type="number" class="form-control" id="exampleInputEmail2" placeholder="1000.00">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail2">Periodicidad</label>
    <select>
      <option value="Diario">Diario</option>
      <option value="Semanal">Semanal</option>
      <option value="Quincenal">Quincenal</option>
      <option value="Mensual">Mensual</option>
      <option value="Anual">Anual</option>
    </select>
  </div>

  <button type="submit" class="btn btn-default">Añadir</button>
</form>

