<h1>Nuevo Ingreso</h1>

<form action="/nuevo_ingreso" method="POST">
  <div>
    <label for="Concepto">Concepto</label>
    <input type="text" class="input is-rounded" id="Concepto" placeholder="Nómina">
  </div>
  <div>
    <label for="Cantidad">Cantidad</label>
    <input type="number" class="input is-rounded" id="Cantidad" placeholder="1000">
  </div>

  <div>
    <label for="Periodicidad">Periodicidad</label>
    <select>
      <option value="Diario">Diario</option>
      <option value="Semanal">Semanal</option>
      <option value="Quincenal">Quincenal</option>
      <option value="Mensual">Mensual</option>
      <option value="Anual">Anual</option>
    </select>
  </div>

  <button type="submit">Añadir</button>
</form>

